#myBtn {
    display: none;
    position: fixed;
    bottom: 22px;
    right: 50%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 50%;
    box-shadow: 0 10px 25px -5px rgba(35, 36, 36, 0.6);
    opacity: 0.5;
    /* filter: alpha(opacity=80); */
}